*.rar
*.o
*.d
*.crf
*.htm
*.dep
*.map
*.bak
*.lnp
*.lst
*.ini
*.iex
*.sct
*.scvd
*.uvguix
*.dbg*
*.uvguix.*
.mxproject

RTE/
Templates/
Examples/

!*.uvprojx
!*.h
!*.c
!*.ioc
!*.axf
!*.bin
!*.hex
OBJ/LED.axf
USER/.vscode/uv4.log
USER/.vscode/uv4.log.lock
